@import url('https://fonts.googleapis.com/css2?family=Anton&family=Blaka&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

:root{
    --color-first:#1ec36dd9;
    --color-second:#f0f0f0;
    --color-white:#fff;
    --color-success:#2ecc71;
    --color-error:#e74c3c;
}



h1, 
h2,
h3,
h4,
.nav-item,
#transition,
footer {
    text-align: center;
}

/* ***************************HEADER**************************************** */

header {
    background: url(./image/fond.jpg) no-repeat 50% 50%;
    background-size: cover;
    height: 100vh;
    border-radius: 0px 0px 20px 20px;
    margin-bottom: px;
}


header .navbar{ 
height: 15vh;
}

.navbar img{
    width: 10vh;



}

.col-md-6 h1 {
    font-size: 3em;
    padding: 90px 10px 20px 0%;
    text-shadow: -1px 1px 2px rgb(10, 9, 9);
    animation: titre ease 5s;
    color: rgb(230, 215, 14);
    font-weight: bold;
}

.col-md-6 p {
    font-size: 2em;
    padding: 50px 50px 20px;
    text-shadow: -1px 1px 2px rgb(8, 8, 8);
    animation: titre ease 5s;
    color: rgb(230, 215, 14);
    font-weight: bold;
}



@keyframes titre {
    0% {
        opacity: 0;
        transform: translateY(350px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

/* ***********************************LEFT PART******************************** */

#leftpart{
    background-color: rgba(79, 197, 43, 0.432);
    border-radius: 20px;
    padding: 25px;
}

.elements{
    padding: 20px 0;
   
}

.elements img{
    width: 30vh;
    height: 30vh;
    border-radius: 20px; 
    position: relative;
    left: 10vh;
}

.elements p{
    font-size: 1.2em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
    padding-right: 30px;
}

.elements .button{
    text-align: right;
    margin: 5px 4% 0 0;
}

/* *****************************right part******************************** */

#rightpart{
    background-color: rgba(224, 228, 18, 0.397);
    border-radius: 20px;
    padding: 20px;
}

.tips{
    height: 20vh;
    width: 30vh;
    margin: 30px auto;
    border-radius: 2vh;
}


.tips h4{
    position: relative;
    color: rgb(14, 230, 50);
    top: 50%;
    transform: translateY(-50%);
    text-shadow: 1px 1px 0 rgb(255, 254, 254),  1px -1px 0 rgb(250, 249, 249),  -1px 1px 0 rgb(245, 243, 243),  -1px -1px 0 rgb(253, 250, 250),  1px 0px 0 rgb(245, 241, 241), 0px 1px 0 rgb(250, 247, 247),  -1px 0px 0 rgb(255, 254, 254),  0px -1px 0 rgb(248, 243, 243);
}

.tips:hover{
    transform: scale(1.05);
    opacity: 0.8;
    transition: ease-out 0.2s;
}

#transition{
    padding:10px 0;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 20vh;
}

.bouton{
    background: none;
    width: 250px;
    height: 60px;
    border: 4px solid #084716;
    font-size: 20px;
    font-weight: bold;
    color:#084716;
    transition: .4s linear;
    position: relative;
    cursor: pointer; 
}

.bouton:hover{
    color: white;
}

.bouton::before{
    content: "";
    position:absolute;
    width: 0px;
    height: 55px;
    top: 0px;
    left: 0px;
    background-color: #084716;
    z-index: -1;
    transition: .4s linear;
}

.bouton:hover::before{
    width: 245px;
}




.localise{
    padding: 8vh 10vh 8vh 8vh;
    background-color: #778888;
}


/* avis */
.row{
    margin-top: 15vh;
    margin-bottom: 15vh ;
}

.addresse{
    margin: 10vh 10vh  50vh 10vh;
    height: 100px;
    width: 300px; 
}







/* ****************************formolaire**************************** */
.formule {
    background:var(--color-first);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-family: "Open sabs" sans-serif;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    min-width:75vh;
    overflow: hidden;
    margin: 5vh;
    
}
.containers{
    background: var(--color-white);
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0,0,0,.5);
    width: 400px;
    max-width: 100%;
}

form{
    padding: 50px;
    align-items: center;
}


.form-controle{
    margin-top: 10px;
    padding-bottom: 20px;
    position: relative;
}


.form-controle label{
    display: inline-block;
    margin-bottom: 5px;
}

.form-controle input{
    border:2px solid var( --color-second);
    border-radius: 4px;
    display: block;
    font-family: inherit;
    font-size: 14px;
    width: 300px;
    height: 40px;
    padding-left: 10px;

}

.form-controle i{
    position: absolute;
    top: 33px;
    right: 10px;
    visibility: hidden;
}

.form-controle small{
    position: absolute;
    bottom: 0;
    left: 0;    
    visibility: hidden;
}


.form button{
    background: var(--color-first);
    border: 2px solid var(--color-first);
    color: var(--color-white);
    display: block;
    font-family: inherit;
    border-radius: 4px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
}

.form-controle .success input{
    border-color: var(--color-success);
}

.form-controle .error input{
    border-color: var(--color-error);
}


.form-controle .success i.fa-check-circle{
    color: var(--color-success);
    visibility: visible;

}

.form-controle .error i .fa-exclamation{
    color: var(--color-error);
    visibility: visible;
}

.form-controle .error small{
    color: var(--color-error);
    visibility: visible;
}

.addresse{
    margin-lef
}


/* *************************************footer******************** */




footer{
    background-color: #3d4949;
}

footer .container{
    max-width: 1170px;
    margin: auto;
}

footer.row{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

footer ul{
    list-style: none;
}

.footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-top: 30px;
    font-family: 'PT Serif', serif;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col h4::before{
    content: '';
    position: absolute;
    left: -1;
    bottom: -10px;
    background-color: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;

}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #faf3f3;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition:all 0.3s  ease;
}

.footer-col ul li a:hover{
    color:#ebee5a;
    padding-left: 15px;
}
.footer-col .social-links ul a{
    display:inline-block;
    height: 60px;
    width: 60px;
    background-color: rgb(247, 243, 243);
    margin-right: 0px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height:10vh;
    border-radius: 50%;
}

 








